{% extends "base.html" %}

{% block content %}

  <div class="newpost">
    <form method="post">
      <label class="post-subject">
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label class="post-content">
        <div>Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <button name="post_button" type="submit" value="submit">Submit</button>
      <button name="post_button"type="submit" value="cancel">Cancel</button>

    </form>
  </div>

{% endblock %}
